.step-container {
    gap: 2rem;
    height: calc(100dvh - 5rem - 2rem - 5rem);
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.centered-number-input {
    text-align: center;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.cost-breakdown-btn {
    display: none;

    left: 100%;
    margin-left: 1rem;
    position: absolute;

}

@media screen and (min-width: 1024px) {
    .cost-breakdown-btn {
        display: block;
    }
}