.stepper-wrapper {
    margin-top: 2.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1 px solid var(--mantine-color-gray-3);
    background-color: var(--mantine-color-gray-0);
}

.stepIcon {
    background-color: white;
    border: 2px solid var(--mantine-color-gray-3);
}

.stepIcon[data-completed] {
    background-color: var(--step-color);
    border-color: var(--step-color);
}

.stepIcon[data-progress] {
    border-color: var(--step-color);
}