.hero-wrapper {
    padding: 5rem var(--mantine-spacing-md);
}

.section-group {
    flex: 1;
}

.section-group:last-of-type {
    display: none;
}

.form {
    width: 100%;
    gap: var(--mantine-spacing-md);
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-body);
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1) 0 0 1.4375rem -0.4375rem,
        rgba(0, 0, 0, 0.1) 0 0.75rem 0.75rem -0.4375rem;
}

.header-indicator {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--mantine-color-teal-4);
}

@media screen and (min-width: 75em) {
    .hero-wrapper {
        padding-top: 10vw;
    }

    .section-group:last-of-type {
        display: block;
    }

    .form {
        width: unset;
        min-width: var(--mantine-breakpoint-xs);
    }
}